#body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#parent{
    height: 100vh;
    display: inline-flex;
}

#parent div{
    height: 100vh;
    font-size: 50px;
    font-weight: bold;
    display: flex;
}

#d1{
    background-color: blue;
    width: 49vw;
}
#d2{
    background-color: red;
    width: 49vw;
}
#d0{
    width: 2vw;
    background-color: black;
    cursor: e-resize;
}
